<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>String0</key>
	<string>Some String</string>
	<key>Bool0</key>
	<true/>
	<key>Number0</key>
	<real>12.34</real>
	<key>MyKey</key>
	<string>56.78</string>
</dict>
</plist>
